{{ define "main" }}
    <header>
        <div class="section-card">
            <div class="section-details">
                <h1 class="section-term">{{ .Title }}</h1>
                {{ with .Params.description }}
                    <h2 class="section-description">{{ . }}</h2>
                {{ end }}
            </div>
        </div>
    </header>

    {{ if .Content }}
    <article class="main-article" style="margin-top: var(--section-gap);">
        <section class="article-content">
            {{ .Content }}
        </section>
    </article>
    {{ end }}

    {{ if not .Params.hide_list }}
        {{- $pages := partial "helper/pages.html" . -}}
        {{ if $pages }}
            <section class="article-list--compact" style="margin-top: var(--section-gap);">
                {{ range $pages }}
                    {{ partial "article-list/compact" . }}
                {{ end }}
            </section>
        {{ end }}
    {{ end }}

    {{ partialCached "footer/footer" . }}
{{ end }}

{{ define "right-sidebar" }}
    {{ partial "sidebar/right.html" (dict "Context" . "Scope" "homepage") }}
{{ end }}
